{% extends 'layout.html' %}


{% block content %}

  <div class="container">
    <h1 class="suh text-center text-dark">Register</h1>
    <form action="{{ url_for('index') }}" method="POST">
      <div class="form-group">
        <label for="Name"><b>Full Name</b></label>
        <input name="name" type="Name" class="form-control" id="name" placeholder="Enter Your Name">
      </div>
      <div class="form-group">
        <label for="email"><b>Email address</b></label>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password"><b>Password</b></label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="phone"><b>Mobile Number</b></label>
        <input name="Number" type="number" class="form-control" id="phone" placeholder="Enter Mobile Number">
        <input type="hidden" name="registered" value="True">
      </div>

      <button>Register</button>
    </form>

  </div>


  {% endblock %}
